@page "/"

<PageTitle>HyperDemon.info</PageTitle>


<div class="flex items-center justify-center w-full h-[80vh]">
	It is probably very painful for the Protagonist to use the devil daggers when it's in a 3rd state (after collecting 70
	gems). The idea on this is coming from the fact that while shooting, the Protagonist is screaming. His body is most
	likely under huge stress because of being modified by gems and (of course assuming that Protagonist is a human) having
	to create these daggers from (probably) his own flesh, making him feel how he's ripping his own body to materialize
	daggers with which he can fight.
</div>
